{% extends 'base.html.twig' %}

{% block title %}Emprunt d'un livre{% endblock %}

{% block body %}
<div class="row p-5 justify-content-center">
    {{ include('biblio_emprunt/_classes.html.twig') }}
    {% if user is not null %}
    <div class="col-6 text-center p-3">
        <h3>{{ user.prenom }}, entre le numéro de ton livre</h3>
        {{ include('biblio_emprunt/_form.html.twig') }}
    </div>
    {% else %}
        {% if section is not null %}
        <div class="col-12 pt-3 text-center">
            <h3>Qui es-tu ?</h3>
            {% for eleve in eleves %}
                {% if eleve.isCaution == 1 and eleve.emprunts < limit %}
                    {% set class = "ok-button" %}
                    <p><a href="{{ path('biblio_emprunt', {'user':eleve.id}) }}"
                       class="{{ class }}">{{ eleve.prenom }}
                            {% if app.user %}
                                {{ eleve.nom }}
                            {% else %}
                                {{ eleve.nom |slice(0, 1)}}.
                            {% endif %}
                        </a><br>
                            {% for emprunt in eleve.biblioEmprunts %}
                                {% if emprunt.isEmprunt == 1 %}
                                "{{ emprunt.livre.titre }}"
                                (<a href="{{ path('biblio_book_show', {'id': emprunt.livre.id }) }}">n°{{ emprunt.livre.id }}</a>) 
                                {% endif %}
                            {% endfor %}</p>
                {% else %}
                    {% if eleve.isCaution == 0 %}
                        {% set class = "nope-button" %}
                        <p><span class="{{ class }}">{{ eleve.prenom }}
                            {% if app.user %}
                                {{ eleve.nom }}
                            {% else %}
                                {{ eleve.nom |slice(0, 1)}}.
                            {% endif %}
                        </span></p>
                    {% else %}
                        {% set class = "wait-button" %}
                        <p><span class="{{ class }}">{{ eleve.prenom }}
                                {% if app.user %}
                                    {{ eleve.nom }}
                                {% else %}
                                    {{ eleve.nom |slice(0, 1)}}.
                                {% endif %}
                            </span><br>
                            {% for emprunt in eleve.biblioEmprunts %}
                                {% if emprunt.isEmprunt == 1 %}
                                "{{ emprunt.livre.titre }}"
                                (<a href="{{ path('biblio_book_show', {'id': emprunt.livre.id }) }}">n°{{ emprunt.livre.id }}</a>) 
                                {% endif %}</br>
                            {% endfor %}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>
    {{ include('footer.html.twig') }}
{% endblock %}
