{% extends 'base.html.twig' %}

{% block title %}Emprunt d'un livre{% endblock %}

{% block body %}
<div class="row p-5">
    {% if user is not null %}
    <div class="col text-center">
        <p>Bonjour {{ user.prenom }} {{ user.nom }}</p>
        <h3>Entre le numéro du livre</h3>
        {{ include('biblio_emprunt/_form.html.twig') }}
    </div>
    {% else %}
        <div class="col text-center">
            <h3>Choisis ta classe :</h3>
            {% for classe in classes %}
                {% if classe.section != "adulte" %}
                <a href="{{ path('biblio_emprunt', {'section':classe.section}) }}"
                   alt="{{ classe.section }}"
                   class="ok-button">{{ classe.section }}</a>
                {% endif %}
            {% endfor %}
        {% if section is not null %}
            <h3>Choisis ton nom :</h3>
            {% for eleve in eleves %}
                {% if eleve.isCaution == 1 %}
                    {% set class = "ok-button" %}
                    <a href="{{ path('biblio_emprunt', {'user':eleve.id}) }}"
                       alt="{{ eleve.prenom }}"
                       class="{{ class }}">{{ eleve.prenom }}</a>
                {% else %}
                    {% set class = "wait-button" %}
                    <span alt="{{ eleve.prenom }}"
                       class="{{ class }}">{{ eleve.prenom }}</span>
                {% endif %}
                <br>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
