{% extends 'base.html.twig' %}

{% block title %}Emprunt d'un livre{% endblock %}

{% block body %}
<div class="row p-5">
    {{ include('biblio_emprunt/_classes.html.twig') }}
    {% if user is not null %}
    <div class="col text-center">
        <p>Bonjour {{ user.prenom }} {{ user.nom }}</p>
        <h3>Entre le numéro du livre</h3>
        {{ include('biblio_emprunt/_form.html.twig') }}
    </div>
    {% else %}
        {% if section is not null %}
        <div class="col-12 pt-3 text-center">
            <h3>Qui es-tu ?</h3>
            {% for eleve in eleves %}
                {% if eleve.isCaution == 1 and eleve.emprunts < limit %}
                    {% set class = "ok-button" %}
                    <p><a href="{{ path('biblio_emprunt', {'user':eleve.id}) }}"
                       alt="{{ eleve.prenom }} {{ eleve.nom }}"
                       class="{{ class }}">{{ eleve.prenom }} {{ eleve.nom }}</a></p>
                {% else %}
                    {% if eleve.isCaution == 0 %}
                        {% set class = "nope-button" %}
                        <p><span alt="{{ eleve.prenom }} {{ eleve.nom }}"
                                 class="{{ class }}">{{ eleve.prenom }} {{ eleve.nom }}</span></p>
                    {% else %}
                        {% set class = "wait-button" %}
                        <p><span alt="{{ eleve.prenom }} {{ eleve.nom }}"
                           class="{{ class }}">{{ eleve.prenom }} {{ eleve.nom }}</span></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
