{% extends 'base.html.twig' %}

{% block title %}Livres empruntés{% endblock %}

{% block body %}
    <h3>{{ biblio_emprunts | length }} livre(s) actuellement sortis</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Eleve</th>
                <th>DateEmprunt</th>
            </tr>
        </thead>
        <tbody>
        {% for biblio_emprunt in biblio_emprunts %}
            <tr>
                <td>
                    <a href="{{ path('biblio_book_show', {'id': biblio_emprunt.livre.id}) }}" title="Détail du livre">
                        {{ biblio_emprunt.livre.titre }}
                    </a>
                </td>
                <td>{{ biblio_emprunt.eleve.prenom }} {{ biblio_emprunt.eleve.nom }} ({{ biblio_emprunt.eleve.section }})</td>
                <td>{{ biblio_emprunt.dateEmprunt ? biblio_emprunt.dateEmprunt|date('d/m/Y à H:i') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
