{% extends 'base.html.twig' %}

{% block title %}BiblioEmprunt{% endblock %}

{% block body %}
    <h1>BiblioEmprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ biblio_emprunt.id }}</td>
            </tr>
            <tr>
                <th>IsEmprunt</th>
                <td>{{ biblio_emprunt.isEmprunt ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateEmprunt</th>
                <td>{{ biblio_emprunt.dateEmprunt ? biblio_emprunt.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRetour</th>
                <td>{{ biblio_emprunt.dateRetour ? biblio_emprunt.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('biblio_emprunt_index') }}">back to list</a>

    <a href="{{ path('biblio_emprunt_edit', {'id': biblio_emprunt.id}) }}">edit</a>

    {{ include('biblio_emprunt/_delete_form.html.twig') }}
{% endblock %}
