{{ form_start(form) }}
<div class="row p-1 align-items-center">
    <div class="col-4 text-right font-weight-bold">
        {{ form_label(form.titre) }}
    </div>
    <div class="col-8">
        {{ form_widget(form.titre) }}
    </div>
</div>
<div class="row p-1 align-items-center">
    <div class="col-4 text-right font-weight-bold">
        {{ form_label(form.auteur) }}
    </div>
    <div class="col-8">
        {{ form_widget(form.auteur) }}
    </div>
</div>
<div class="row p-1 align-items-center">
    <div class="col-4 text-right font-weight-bold">
        {{ form_label(form.editeur) }}
    </div>
    <div class="col-8">
        {{ form_widget(form.editeur) }}
    </div>
</div>
<div class="row p-1 align-items-center">
    <div class="col-4 text-right font-weight-bold">
        {{ form_label(form.dewey) }}
    </div>
    <div class="col-8">
        {{ form_widget(form.dewey) }}
    </div>
</div>
<div class="row p-1 align-items-center">
    <div class="col-4 text-right font-weight-bold">
        {{ form_label(form.prix) }}
    </div>
    <div class="col-8">
        {{ form_widget(form.prix) }}
    </div>
</div>

    <button class="primary-button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
