{% extends 'base.html.twig' %}

{% block title %}BiblioBook index{% endblock %}

{% block body %}
    <h1>BiblioBook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Editeur</th>
                <th>Dewey</th>
                <th>Prix</th>
                <th>DateAjout</th>
                <th>IsDispo</th>
                <th>DateIndispo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for biblio_book in biblio_books %}
            <tr>
                <td>{{ biblio_book.id }}</td>
                <td>{{ biblio_book.titre }}</td>
                <td>{{ biblio_book.auteur }}</td>
                <td>{{ biblio_book.editeur }}</td>
                <td>{{ biblio_book.dewey }}</td>
                <td>{{ biblio_book.prix }}</td>
                <td>{{ biblio_book.dateAjout ? biblio_book.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ biblio_book.isDispo ? 'Yes' : 'No' }}</td>
                <td>{{ biblio_book.dateIndispo ? biblio_book.dateIndispo|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('biblio_book_show', {'id': biblio_book.id}) }}">show</a>
                    <a href="{{ path('biblio_book_edit', {'id': biblio_book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('biblio_book_new') }}">Create new</a>
{% endblock %}
