{% extends 'base.html.twig' %}

{% block title %}{{ biblio_book.titre }}{% endblock %}

{% block body %}
    <h3 class="text-left">{{ biblio_book.titre }}</h3>

    <div class="row">
        <div class="col text-left">
            <p>Livre n°{{ biblio_book.id }}<br>
                Auteur : {{ biblio_book.auteur }} - Editeur : {{ biblio_book.editeur }}</p>
            <p>Côte Dewey : {{ biblio_book.dewey }} - Prix : {{ biblio_book.prix }} €<br>
                Ajouté à la bibliothèque le {{ biblio_book.dateAjout ? biblio_book.dateAjout|date('d/m/Y') : '' }} - {% if biblio_book.isDispo == 1 %}
                    <span class="text-success">En circulation</span> - <a href="{{ path('biblio_book_dispo', {'book': biblio_book.id}) }}">retirer</a>
            {% else %}
                <span class="text-danger">Retiré de la circulation depuis le {{ biblio_book.dateIndispo ? biblio_book.dateIndispo|date('d-m-Y') : '' }}</span>
                    - <a href="{{ path('biblio_book_dispo', {'book': biblio_book.id}) }}">remettre en circulation</a>
                {% endif %}</p>
                <p><a href="{{ path('biblio_book_edit', {'id': biblio_book.id}) }}">Modifier ce livre</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col p-3 text-left">
        <h4>Historique des emprunts</h4>
        {% for emprunt in biblio_book.biblioEmprunts  %}
            <p class="text-left">
                Emprunté par {{ emprunt.eleve.prenom }} {{ emprunt.eleve.nom }} ({{ emprunt.eleve.section }})
                le {{ emprunt.dateEmprunt | date('d/m/Y') }},
                {% if emprunt.isEmprunt == 1 %}
                    <span class="text-danger">non rendu</span>
                {% else %}
                    <span class="text-success">rendu le {{ emprunt.dateRetour | date('d/m/Y') }}</span>
                {% endif %}
            </p>
        {% endfor %}
        </div>
    </div>

    <a href="{{ path('biblio_book_index') }}">Tous les livres</a>

{% endblock %}
