{% extends 'base.html.twig' %}

{% block title %}BiblioBook{% endblock %}

{% block body %}
    <h1>BiblioBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ biblio_book.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ biblio_book.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ biblio_book.auteur }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ biblio_book.editeur }}</td>
            </tr>
            <tr>
                <th>Dewey</th>
                <td>{{ biblio_book.dewey }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ biblio_book.prix }}</td>
            </tr>
            <tr>
                <th>DateAjout</th>
                <td>{{ biblio_book.dateAjout ? biblio_book.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsDispo</th>
                <td>{{ biblio_book.isDispo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateIndispo</th>
                <td>{{ biblio_book.dateIndispo ? biblio_book.dateIndispo|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('biblio_book_index') }}">back to list</a>

    <a href="{{ path('biblio_book_edit', {'id': biblio_book.id}) }}">edit</a>

    {{ include('biblio_book/_delete_form.html.twig') }}
{% endblock %}
