<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bibliothèque{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="container-fluid">

            {% block header %}
            <div class="row bg-dark text-white p-3">
                <div class="col font-weight-bold">
                    <a href="{{ path('home_index') }}" title="Accueil">Accueil Bibliothèque</a>
                </div>
                <div class="col text-right">
                    <a href="{{ path('admin_index') }}" title="Administration">Administration</a>
                </div>
            </div>
            {% endblock %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger text-center mt-1 alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div class="row justify-content-center p-3">
                <div class="col-12 col-sm-8 text-center">
                    {% block body %}{% endblock %}
                </div>
            </div>

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}{% endblock %}
        </div>
    </body>
</html>
