{% extends 'base.html.twig' %}

{% block title %}Eleves{% endblock %}

{% block body %}
    <h1>Liste des élèves</h1>
    <p><a href="{{ path('biblio_user_caution') }}" title="Chèques de caution">
            Gérer les cautions
        </a></p>
    <ul class="text-left">
        {% for biblio_user in biblio_users %}
            <li>
                <p><a href="{{ path('biblio_user_show', {'id': biblio_user.id}) }}">
                        {{ biblio_user.nom }} {{ biblio_user.prenom }}
                        </a>
                    ({{ biblio_user.section }}) - Elève n°{{ biblio_user.id }} -
                    Né{% if biblio_user.sexe == "F" %}e{% endif %} le
                    {{ biblio_user.dateNaissance ? biblio_user.dateNaissance|date('d/m/Y') : '' }}<br>
                    Peut emprunter :
                    {% if biblio_user.isCaution == 1 %}
                        <span class="text-success font-weight-bold">oui</span>
                    {% else %}
                        <span class="text-danger font-weight-bold">non</span>
                    {% endif %} -
                    <a href="{{ path('biblio_user_edit', {'id': biblio_user.id}) }}">Modifier</a> -
                    <a href="{{ path('biblio_user_sortie', {'eleve': biblio_user.id}) }}">Retirer de l'école</a>
                </p>
                <hr>
            </li>
        {% else %}
            <tr>
                <td colspan="11">Aucun élève</td>
            </tr>
        {% endfor %}
    </ul>

    <a href="{{ path('biblio_user_new') }}">Ajouter un élève</a>
{% endblock %}
