{% extends 'base.html.twig' %}

{% block title %}{{ biblio_user.prenom }} {{ biblio_user.nom }}{% endblock %}

{% block body %}
    <h3>{{ biblio_user.prenom }} {{ biblio_user.nom }}</h3>

    <p>{{ biblio_user.prenom }} {{ biblio_user.nom }}, né{% if biblio_user.sexe == "F" %}e{% endif %} le
        {{ biblio_user.dateNaissance ? biblio_user.dateNaissance|date('Y-m-d') : '' }}</p>
    <p>INE : {{ biblio_user.ine }} - ID n°{{ biblio_user.id }}</p>
    <p>Username : {{ biblio_user.username }}</p>


                <td>{{ biblio_user.sexe }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ biblio_user.section }}</td>
            </tr>
            <tr>
                <th>IsCaution</th>
                <td>{{ biblio_user.isCaution ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('biblio_user_index') }}">Tous les élèves</a>

    <a href="{{ path('biblio_user_edit', {'id': biblio_user.id}) }}">Modifier</a>

{% endblock %}
